.event-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
  }
  
  .event-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: transform 1s;
    margin: 20px; 
    text-align: center;
    position: relative;
    background-color: #fff;
  }
  
  .event-details {
    display: none;
    position: absolute;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
    width: 98%;
    height: 95%;
    background-color: rgba(
      255,
      255,
      255,
      255
    ); /* Sfondo trasparente per mostrare testo */
    transition: opacity 1s;
    padding: 20px;
    overflow-y: auto;
  }
  
  .event-card:hover .event-details {
    display: block;
    opacity: 1; /* Rendere visibile l'area con i dettagli al passaggio del mouse */
    transform: rotateY(180deg);
  }
  
  .event-card:hover {
    transform: rotateY(180deg);
  }
  
  .event-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .action-btn {
    margin-bottom: 20px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-btn:hover {
    background-color: #f0f0f0;
  }
  
  .event-header{
    margin: 20px;
    position: relative;
    text-align: center;
  }
  
  .event-body {
    margin-bottom: 20px;
  
  }
  .event-body {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .event-body h1 {
    font-size: 24px;
    background: linear-gradient(to right, #00d9ff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  .arrow-buttons button {
    font-size: 18px;
    background: linear-gradient(to right, #00d9ff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
  
  .arrow-buttons button:hover {
    -webkit-text-fill-color: white; /* Cambia il colore del testo */
    background: linear-gradient(to right, #00d9ff, #000000); /* Cambia il background */
  }
  
  .event-body  p {
    font-size: 14px;
    color: #888;
  }
  
  .event-header::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 50%;
    border-bottom: 2px solid #ccc; /* Imposta il bordo */
    transform: translateX(-50%); /* Posiziona il bordo al centro */
  }
  
  .event-card:first-child {
    margin-top: 100px; /* o qualsiasi valore appropriato */
  }
  
  .event-card:last-child {
    margin-bottom: 150px;
  }
  