body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.sign-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.sign-page h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 48px; /* Dimensione del font di esempio */
  background: linear-gradient(to bottom right, #00d9ff, #000000);
  -webkit-background-clip: text; /* Specifico per WebKit (Chrome, Safari, etc.) */
  color: transparent; /* Rende il testo del titolo trasparente */
}

.sign-form {
  flex: 1;
  text-align: right;
  padding: 20px;
}

.sign-form {
  flex: 1;
  text-align: right;
  padding: 20px;
}

.sign-form form {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  
}

input, select {
  width: 75%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to bottom right, #00d9ff, #000000);
  -webkit-background-clip: background; /* Specifico per WebKit (Chrome, Safari, etc.) */
  color: transparent; /* Rende il testo del titolo trasparente */
  color: white;
  cursor: pointer;
}

.error-message {
  color: red;
}