.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  background-color: #f4f4f4;
  z-index: 1;
  width: 100%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
  position: fixed;
  top: 60px; /* Posizionamento sotto l'header */
  left: 0;
  width: 25%;
  display: none; /* Inizialmente nascosto */
}

.filters.show {
  display: flex; /* Visibile quando 'showFilters' è true */
}

input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.header button {
  font-size: 24px;
  background: linear-gradient(to right, #00d9ff, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header button img {
    width: 20px;
    height: 20px;
  }
  